* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section.intro div p.col-sm-12, section.thirdImage div p.col-sm-12, section.secondImage div p.col-sm-12, section.firstImage div p.col-sm-12, .card .card-body h5.card-title {
  font-family: "Barlow Condensed";
  font-weight: 500;
  font-size: 1.5rem;
}

.textoCentral h1, .textoContacto h1, a.nuestrosProductos h5 {
  font-family: "Barlow Condensed";
  font-weight: 500;
}

.navbar-brand img {
  width: 90px;
  height: 100px;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: 20px;
  transition: transform 0.3s ease-in-out;
}
.navbar-brand img:hover {
  transform: scale(1.1);
}

.nav-item {
  width: inherit;
  height: auto;
  transition: transform 0.3s ease-in-out;
}
.nav-item a {
  color: rgb(0, 0, 0);
}
.nav-item a:hover {
  transform: rotate(10deg) scale(1.2);
}

div img.imagenCentral {
  width: 100%;
  height: inherit;
}

.card {
  background-color: transparent;
  border: none;
  text-align: center;
}
.card .card-body p.card-text {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

a.nuestrosProductos {
  text-decoration: none;
}
a.nuestrosProductos h5 {
  font-size: 40px;
  text-align: center;
  color: black;
}

div.row {
  width: 100%;
  height: inherit;
  margin-top: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-left: auto;
}
div.row p.col-sm-12 {
  display: flex;
  align-items: center;
  justify-content: inherit;
  flex-wrap: inherit;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-align: justify;
  font-size: 20px;
}

section.firstImage {
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
.textoContacto h1 {
  border: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  padding: 10px 50PX;
  background-color: #bcbcbc;
  color: rgb(32, 32, 32);
  font-style: normal;
  margin-top: 20px;
  margin-right: 20%;
  margin-bottom: 10px;
  margin-left: 20%;
}
.textoContacto div iframe {
  width: 100%;
}
.textoContacto div p.textoMapa {
  color: black;
  font-size: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.textoContacto div div.mb-3 {
  margin-top: 20px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  font-size: 20px;
  color: black;
}

#accordionFlushExample {
  margin-top: auto;
  margin-right: 20%;
  margin-bottom: auto;
  margin-left: 20%;
  max-width: 1000px;
}

a.whatsapp {
  position: sticky;
  bottom: 20px;
  right: 20px;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  margin-left: auto;
  z-index: 1000;
  display: flex;
  align-items: inherit;
  justify-content: flex-end;
  flex-wrap: inherit;
}
a.whatsapp img {
  width: 50px;
  height: 50px;
  transition: transform 0.3s ease-in-out;
}
a.whatsapp img:hover {
  transform: scale(1.2);
}

section.intro {
  margin-top: 30px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
}
div.carousel-caption h5 {
  color: rgb(225, 225, 225);
  font-weight: bold;
  font-size: 20px;
}
div.carousel-caption p {
  color: rgb(255, 255, 255);
  font-weight: bold;
}

footer {
  background-color: #6b6666;
  color: rgb(255, 255, 255);
  padding: 20px 0;
}
footer .container {
  display: flex;
  align-items: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0 20px;
}
footer .container .footerItem {
  flex: 1;
  min-width: 200px;
  margin-top: 0;
  margin-right: 10px;
  margin-bottom: 0;
  margin-left: 10px;
  line-height: 10px;
}
footer .container .footerItem h6 {
  margin-top: 0;
}
footer .container .footerItemSociales a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
footer .container .footerItemSociales a img {
  transition: transform 0.3s ease-in-out;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
footer .container .footerItemSociales a img:hover {
  transform: scale(1.1);
}

body {
  background-color: lightgrey;
}

.textoCentral {
  display: flex;
  align-items: inherit;
  justify-content: center;
  flex-wrap: inherit;
  margin-top: 20px;
}
.textoCentral h1 {
  border: 1px;
  border-color: black;
  border-style: solid;
  text-align: center;
  padding: 10px 50PX;
  background-color: #bcbcbc;
  color: rgb(32, 32, 32);
  font-style: normal;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-item {
    margin: 10px 0;
  }
}

/*# sourceMappingURL=style.css.map */
