section.intro {
    @include margin (30px, auto, auto, auto);
    div p.col-sm-12{
        @extend %font-text;
    }
}

div.carousel-caption {
    h5 {
        color: $color-carousel-h5;
        font-weight: bold;
        font-size: 20px;
    }
    p{
        color: $color-carousel-p;
        font-weight: bold;
    }
}

