.textoContacto {
    h1 {
        border: 1px;
        border-color: black;
        border-style: solid;
        text-align: center;
        padding: 10px 50PX;
        background-color: $color-background-texto;
        color: $color-h1;
        @extend %font-titulo;
        font-style: normal;
        @include margin (20px, 20%, 10px, 20%);
    }

    div {
        iframe {
            width: 100%;
        }

        p.textoMapa {
            color: black;
            font-size: 20px;
            @include margin (20px, auto, 10px, auto);
        }

        div.mb-3 {
            @include margin (20px, auto, auto, auto);
            font-size: 20px;
            color: black;
        }
    }
}

#accordionFlushExample {
    @include margin (auto, 20%, auto, 20%);
    max-width: 1000px;
}

a.whatsapp{
    position: sticky;
    bottom: 20px;
    right: 20px;
    @include margin (auto, 20px, auto, auto);
    z-index: 1000;
    @include flex (flex, inherit, flex-end, inherit);
    img{
        @include tamano (50px, 50px);
        transition: 0.4s;
        &:hover {
            transform: scale(1.2);
        }
    }
}
