div img.imagenCentral {
    @include tamano (100%, inherit);
}

.card {
    background-color: transparent;
    border: none;
    text-align: center;
    .card-body {
        h5.card-title {
            @extend %font-text;
        }
        p.card-text {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
    }
}

a.nuestrosProductos {
    text-decoration: none;
    h5 {
        font-size: 40px;
        text-align: center;
        color: $color-h5;
        @extend %font-titulo;
    }

}

div.row {
    @include tamano (100%, inherit);
    @include margin (auto, auto, 20px, auto);
    p.col-sm-12 {
        @include flex(flex, center, inherit, inherit);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        text-align: justify;
        font-size: 20px;
    
    }
}