$color-footer: rgb(255, 255, 255);

$color-nav: rgb(0, 0, 0);

$color-main: rgb(0, 0, 0);

$color-carousel-h5: rgb(225, 225, 225);

$color-carousel-p: rgb(255, 255, 255);

$color-h1: rgb(32, 32, 32);

$color-h5: black;

$color-background-body: lightgrey;

$color-background-texto: #bcbcbc;

$color-background-footer: #6b6666

