.navbar-brand img {
    @include tamano (90px,100px);
    @include margin (auto, auto, auto, 20px);
    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.1)
    }
}

.nav-item {
    @include tamano (inherit, auto);
    transition: transform 0.3s ease-in-out;

    a {
        color:$color-nav;

        &:hover {
            transform: rotate(10deg) scale(1.2)
        }
    }
}